<h5 class="text-info my-5"><%= t('.header', title: @test_passage.test.title) %></h5>

<h5><%= t('.result') %> <span class=<%= @class %>><%= @score %>%</span></h5>
<h5><%= show_message(@class) %></h5>

<p class="py-5"><%= link_to t('.tests_link'), tests_path, :class=>'text-primary' %></p>