<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<h3><%= t('.result') %> <span class=<%= @class %>><%= @score %>%</span></h3>
<h4><%= show_message(@class) %></h4>

<p><%= link_to t('.tests_link'), tests_path %></p>