<h1><%= t('.title') %></h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t('.answer_label') %></b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.correct_label')%></b>
  <%= @answer.correct %>
</p>

<%= link_to t('.back_link'), admin_question_path(@answer.question) %>