<tr>
  <td><%= question.id %></td>
  <td><%= question.body %></td>
  <td><%= link_to t('.show_link'), admin_question_path(question) %></td>
  <td><%= link_to t('.edit_link'), edit_admin_question_path(question) %></td>
  <td><%= link_to t('.delete_link'),
                  admin_question_path(question),
                  method: :delete,
                  data: { confirm: t('.delete_confirm') } %></td>
</tr>