<h4 class="text-info my-3"><%= t('.header') %></h4>

<p>
  <%= link_to t('.new_test'), new_admin_test_path, :class=>'btn btn-secondary' %>
  <%= link_to "Gists", admin_gists_path, :class=>'btn btn-secondary' %>
</p>

<table class="table table-striped">
  <thead>
    <tr class="text-center">
      <th style="width: 50px"><%= t('.id') %></th>
      <th class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('.level') %></th>
      <th><%= t('.category') %></th>
      <th><%= t('.questions_number') %></th>
      <th colspan="3"><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>