<h2><%= t('tests.index.header') %></h2>

<table>
  <thead>
    <tr>
      <th style="width: 50px"><%= t('.id') %></th>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.category') %></th>
      <th><%= t('.questions_number') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>